<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org%22%3E/">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="application/json" />

</head>
<body>
<h1>Здесь представлены все жители</h1>


<tbody>
<tr th:each="citizen : ${citizenList}">

    <td><span th:text="${citizen.toString()}"></span></td>
    <br/>

</tr>
</tbody>
<form action="http://localhost:8080/"  method="get">
    <button >Перейти на главную страницу</button>
</form>
</body>
</html>