<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org%22%3E/">
<head>
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<h1>Стартовая страница, тут вы можете отправить запросы</h1>
<h2>Get запрос к :http://localhost:8080/citizens</h2>
<form action="http://localhost:8080/citizens"  method="get">
  <h3>Выберите какие параметры запроса вам нужны данные</h3>
  <h4>lastName</h4>
  <input type="text" name="lastNameBtn" placeholder="example">
  <h4>firstName</h4>
  <input type="text" name="firstNameBtn" placeholder="example">
  <h4>middleName</h4>
  <input type="text" name="middleNameBtn" placeholder="example">
  <h4>birthDate</h4>
  <input type="text" name="birthDateBtn" placeholder="example">
  <button>Отфильтровать</button>
</form>
<h2>Get запрос к :http://localhost:8080/citizens{id}</h2>
<h3>(Пока не работает)Введите ID для поиска пользователя</h3>
<form action="http://localhost:8080/citizens/"  method="get">
  <div>
    <label>Input id</label>
    <input type="text" name="id" placeholder="example">
  </div>

  <button >Сравнить</button>
</form>
<h2>Post запрос к :http://localhost:8080/citizens</h2>
<h3>Введите данные для добавления пользователя</h3>
<form action="http://localhost:8080/citizens"  method="post">
  <div>
    <label>Input lastName</label>
    <input type="text" name="last_name" placeholder="example">
  </div>
  <div>
    <label>Input firstName</label>
    <input type="text" name="first_name" placeholder="example">
  </div>
  <div>
    <label>Input middleName</label>
    <input type="text" name="middle_name" placeholder="example">
  </div>
  <div>
    <label>Input dateBirth</label>
    <input type="date" name="birth_date" placeholder="example">
  </div>
  <div>
    <label>Input phone</label>
    <input type="tel" pattern="\+7\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}" value="+7(___)___-__-__" name="phone" placeholder="example">
  </div>
  <div>
    <label>Input extra_phone</label>
    <input type="tel" pattern="\+7\-[0-9]{3}\-[0-9]{3}\-[0-9]{2}\-[0-9]{2}" name="extra_phone" placeholder="example">
  </div>
  <div>
    <label>Input dul_serie</label>
    <input type="number" name="dul_serie" placeholder="example">
  </div>
  <div>
    <label>Input dul_number</label>
    <input type="number" name="dul_number" placeholder="example">
  </div>
  <button>Добавить</button>
</form>


</body>
</html>